<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>we will come soon </h1>
 <p>{{head}}<p>
    <p>sorry for distrubing</p>
    {{> footer}}
  </body>
</html>
